<style>
	ul.autocomplete  {
	    z-index: 10189;
    background: rgba(255,255,255, 1);
    position: absolute;
    top: 20px;
    left: 13px;
    width: 230px;
    max-height: 240px;
    overflow-y: scroll;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    overflow-x: hidden;
	}
	ul.autocomplete li {
		padding: 2px 5px;
    	border-bottom: 1px solid #e5e5e5;
	}
	ul.autocomplete li a{
		font-size: 12px;
		padding: 3px;
		line-height: 20px
	}
</style>
<ul class="autocomplete" ng-show="data.length">
	<li  role="menuitem" ng-repeat="row in data">
		<a ng-click="handleClick(row)" href="#">{{row.label}}</a>
	</li>
</ul>
